# Importing Libraries

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Importing Dataset

In [5]:
df=pd.read_csv('/content/drive/MyDrive/ML Tasks/ADG-ML/data.csv')

In [6]:
df.head(5)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
df.tail(5)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
564  926424         M  ...                  0.07115          NaN
565  926682         M  ...                  0.06637          NaN
566  926954         M  ...                  0.07820          NaN
567  927241         M  ...                  0.12400          NaN
568   92751         B  ...                  0.07039          NaN

[5 rows x 33 columns]

In [9]:
#copying the datset values into another variable
df1=df.copy()
df1.head(5)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

# Encoding the data

In [10]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
df1['encode_diag']=encode.fit_transform(df['diagnosis'])
df1['encode_diag']=df1['diagnosis']
df1.head(5)

         id diagnosis  ...  Unnamed: 32  encode_diag
0    842302         M  ...          NaN            M
1    842517         M  ...          NaN            M
2  84300903         M  ...          NaN            M
3  84348301         M  ...          NaN            M
4  84358402         M  ...          NaN            M

[5 rows x 34 columns]

# Getting the useful data

In [11]:
df_clean=df1.drop(['id','Unnamed: 32'],axis='columns')
df_clean.head(5)

  diagnosis  radius_mean  ...  fractal_dimension_worst  encode_diag
0         M        17.99  ...                  0.11890            M
1         M        20.57  ...                  0.08902            M
2         M        19.69  ...                  0.08758            M
3         M        11.42  ...                  0.17300            M
4         M        20.29  ...                  0.07678            M

[5 rows x 32 columns]

# Splitting the dependent and independent variables

In [12]:
x=df_clean.iloc[:,1:-1]
x.head(5)

   radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [13]:
y=df_clean.iloc[:,0]
y.head(5)

0    M
1    M
2    M
3    M
4    M
Name: diagnosis, dtype: object

# Splitting into training and test dataset

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [15]:
x_train.count()

radius_mean                398
texture_mean               398
perimeter_mean             398
area_mean                  398
smoothness_mean            398
compactness_mean           398
concavity_mean             398
concave points_mean        398
symmetry_mean              398
fractal_dimension_mean     398
radius_se                  398
texture_se                 398
perimeter_se               398
area_se                    398
smoothness_se              398
compactness_se             398
concavity_se               398
concave points_se          398
symmetry_se                398
fractal_dimension_se       398
radius_worst               398
texture_worst              398
perimeter_worst            398
area_worst                 398
smoothness_worst           398
compactness_worst          398
concavity_worst            398
concave points_worst       398
symmetry_worst             398
fractal_dimension_worst    398
dtype: int64

In [16]:
y_train.count()

398

# Training the model onto to the dataset

In [17]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(x_train,y_train)
classifier.score(x_test,y_test)

0.9590643274853801